[2020-10-06 13:55] edwardhartnett opened #33 "Merge in code from w3nco"
As discussed in an NCEPLIBS issue, we will combine the code from w3nco into this library, and then remove w3nco from NCEPLIBS. See https://github.com/NOAA-EMC/NCEPLIBS/issues/124

[2020-10-06 13:57] edwardhartnett opened #34 "Update readme"
README needs to be updated in accordance with https://github.com/NOAA-EMC/NCEPLIBS/issues/120

This project's readme needs the disclaimer, and the version should be removed from the readme. Also the code manager should be listed along with authors.

[2020-10-06 13:59] edwardhartnett opened #35 "add doxygen, put documentation on gh-pages"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/121

[2020-10-06 14:01] edwardhartnett opened #36 "Remove pFUnit and turn on testing by default"
Let's remove the need for pFUnit to make testing easier for us and most importantly, users who build our code, and hope that it works. ;-)

[2020-10-06 14:02] edwardhartnett opened #37 "So very many more tests needed"
We seem to have 7 lines of test code. ;-)

Well that's not enough, is it?

[2020-10-06 14:05] edwardhartnett opened #38 "Need to be able to build from tarball, so need missing cmake code copied to this repo"
We need to be able to build from tarball. If we are getting anything from the repo of cmake utilities, we need to copy those into this project.

It's a bummer, but we must allow people to download and install in the usual way. The overwhelming majority of science users expect to install software from tarballs, not from git clones.

So we must copy what we must, but if we can drive our FindNetCDF.c

[2020-10-06 14:14] BoiVuong-NOAA commented on #33
Hi Ed,

Do you have a due date for this  task ?  we are very busy with delivery
gfs v16 by the COB 10/9.

Thanks,

Boi

On 10/6/2020 9:55 AM, Edward Hartnett wrote:

[2020-10-06 14:26] edwardhartnett commented on #33
Finish delivery of GFS v16 first for sure.

[2020-10-06 14:32] edwardhartnett opened #39 "in src directory, one .F file"
In our src directory we have one file with .F, the rest with .f.

Well, let's make up our minds, shall we? ;-)

[2020-10-06 15:04] Hang-Lei-NOAA commented on #33
I have started a local merge on dell.
Once it is tested fine, I will create a branch on w3emc repo, and also
submit it to code manager Boi for testing.

On Tue, Oct 6, 2020 at 10:26 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-14 12:06] #34 closed, assigned to nobody

[2020-10-20 11:19] edwardhartnett commented on #33
@Hang-Lei-NOAA and @BoiVuong-NOAA any updates on this?

[2020-10-20 12:08] BoiVuong-NOAA commented on #33
No, Hang and I are working on WCOSS2.

[2020-10-20 12:14] Hang-Lei-NOAA commented on #33
This have been merged and created a branch w3 on w3emc repo. The test of w3
on dell and Hera was fine.

On Tue, Oct 20, 2020 at 8:08 AM Boi Vuong <notifications@github.com> wrote:

[2020-10-23 13:26] edwardhartnett opened #42 "branch protection for develop"
See https://github.com/NOAA-EMC/NCEPLIBS/issues/154

[2020-10-23 13:27] edwardhartnett commented on #42
I have turned these on. @Hang-Lei-NOAA please take note.

[2020-10-23 13:27] #42 closed, assigned to edwardhartnett

[2020-10-27 12:05] edwardhartnett commented on #33
Guys, are you going to put up a PR for this work?

[2020-10-27 12:28] Hang-Lei-NOAA commented on #33
Need to discuss if this will be merged into w3emc or creating a individual
repo.

On Tue, Oct 27, 2020 at 8:05 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-10-27 12:51] edwardhartnett commented on #33
It will be merged into w3emc.

We already have too many repos! Adding one is the opposite of what we want to do. ;-)

[2020-10-27 13:07] #36 closed, assigned to nobody

[2020-10-27 13:07] #38 closed, assigned to nobody

[2020-10-30 10:21] edwardhartnett opened #46 "identify areas for testing"
We must identify some tests to write.

Since we have zero, this should be pretty easy!

Let's get some specific issues in for test writing, then we can close this issue and start writing tests!

;-)

[2020-10-30 10:23] edwardhartnett commented on #33
@Hang-Lei-NOAA what do you think about the interdependence issue?

Should we wind back these changes, write tests for both packages, and then try again?

[2020-10-30 13:18] Hang-Lei-NOAA commented on #33
Some dependencyship  if they are not required or just optional. Then we can
remove them.

On Fri, Oct 30, 2020 at 6:23 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-04 20:13] edwardhartnett commented on #46
We need a collection of small (<50 MB) files GRIB1 files, committed to the repo. gipgd() is an important subroutine for early testing.

@BoiVuong-NOAA and @Hang-Lei-NOAA will generate some data files. Then they will start writing test.

[2020-11-09 14:22] edwardhartnett opened #49 "should we remove extra characters from src/w3ft12.f?"
What is going on with src/w3ft12.f?

It has extra characters at the end of every line. Apparently the line number. What's up with that?

When building it generates this error:

`Error in file /home/ed/NCEPLIBS-w3emc/src/w3ft12.f line: 239, state: 4(SubprogBody)
`

This seems to be ignored by the build system? How does that happen?

[code]

[2020-11-09 17:04] edwardhartnett opened #50 "Add CI testing against public-v2 versions of each dependent library"
This library depends on bacio, sigio, and nemsio. We are currently testing against the develop branch of each of these repos, and that's good and necessary.

We need to add tests against the public-v2 branches as well. If something changes on those branches that breaks w3emc, or something changes in w3emc that breaks compatibility with the public-v2 branches of the dependent libraries, we need to

[2020-11-16 14:52] edwardhartnett commented on #46
@BoiVuong-NOAA and @Hang-Lei-NOAA can we get some progress on this please?

[2020-11-16 14:53] edwardhartnett opened #52 "file src/summary.f contains an empty subroutine"
From summary.f:

[code]

This can be removed, after we get some testing in place.

[2020-11-16 14:56] edwardhartnett opened #53 "Remove code for AIX"
In start.f we have:

[code]

We can remove support for AIX everywhere. No only is it not used anywhere, but we do not have any access for testing.

This should be done after testing is in place.

[2020-11-16 14:56] aerorahul commented on #46
@edwardhartnett
Can we make a practice to not add binary files to the repos?
They are incredibly hard to manage and bloats the repo size over time as new versions of the files get added.
My 2c.

[2020-11-16 15:05] edwardhartnett commented on #46
Yes, the plan is to put these test files on the FTP site.

[2020-11-16 15:06] aerorahul commented on #46
Thats great.  The comment above made it seem like they were being committed to the repo.

[2020-11-16 15:10] Hang-Lei-NOAA commented on #46
We are making progress.
As for the gblevents testing part, I rerun the global_workflow. But, the
GFS model produced data is too large to use.
I turn to writing a small file as test data to the code by a new code.

On Mon, Nov 16, 2020 at 10:05 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-16 15:16] edwardhartnett commented on #46
OK, that new code that produces the test file should be part of the repo. Does the new code also use w3emc code to write the file?

Or does it use some other library?

[2020-11-16 15:26] Hang-Lei-NOAA commented on #46
No, It is just to revise a datafile. The datafile can be various that only
need to match the format.
No need to be included.
Testing code needs to be included as a part of the unit  test.

On Mon, Nov 16, 2020 at 10:16 AM Edward Hartnett <notifications@github.com>
wrote:

[2020-11-16 20:51] edwardhartnett commented on #46
Hang-Lei-NOAA is making a small GRIB1 file that will be uploaded to the FTP site. He will also add some tests.

[2020-11-17 11:33] BoiVuong-NOAA commented on #49
I will remove these number at the end of line in routine w3ft12.   It could be the old CRAY CFT77 FORTRAN compiler (1993).

[2020-11-17 11:35] edwardhartnett commented on #49
Before doing so let's have a test which uses this code, so we know we are not breaking it...

[2020-11-17 11:39] BoiVuong-NOAA commented on #49
OK, These number started after the column 72 (F77).

[2020-11-17 11:41] BoiVuong-NOAA commented on #53
We can remove start.F routine. It is no longer needed for AIX in w3emc.

[2020-11-25 12:23] edwardhartnett commented on #46
Any progress on this issue?

[2020-11-25 14:10] Hang-Lei-NOAA commented on #46
The main data file has been made. Found new trouble in testing
gblevents under a simple unit test.
The practical use of gblevents is under production environment, which
requires several other files produced or system data outputted from the
running environment.
This is a challenge for us to do it in the independent environment. Unit
test can only choose a part of functions to test.
However, how to

[2020-11-30 14:59] #33 closed, assigned to edwardhartnett, Hang-Lei-NOAA, BoiVuong-NOAA

[2020-12-01 04:05] pmspire opened #56 "unable to build against CMake-built netCDF C and Fortran libraries"
Hi. I'm having trouble building this library, apparently due to CMake being unable to find installed prerequisites. I have built the netCDF C (v4.7.4) and Fortran (v4.5.3) libraries, as well as `bacio`, `w3nco`, `sigio`, and `nemsio`, using the CMake builds for each code. Here is output from my attempted build:

[code]

While `NetCDFConfig.cmake` is indeed not available under `$PREFIX`, I do have

[2020-12-01 04:16] climbfuji commented on #56
I think what happened is that you checked out the code without the `--recursive` option. The `FindNetCDF.cmake` macro comes from a submodule called `CMakeModules`. If you just clone the NCEPLIBS-w3emc without `--recursive`, you have change to `NCEPLIBS-w3emc` and run `git submodule update --init --recursive`.

[2020-12-01 06:25] pmspire commented on #56
@climbfuji Yes, thank you! I was trying to build from the release tarball https://github.com/NOAA-EMC/NCEPLIBS-w3emc/archive/v2.7.3.tar.gz (found via https://github.com/NOAA-EMC/NCEPLIBS-w3emc/releases/tag/v2.7.3), but switching to cloning the git repo, checking out the `v2.7.3` tag, and fetching the submodules solved the issue for me.

[2020-12-01 06:25] #56 closed, assigned to nobody

[2020-12-01 08:03] kgerheiser commented on #56
We have removed the Git submodule for the CMake module. However, there hasn't been a release since then, so it still needs the submodule. We will do a release and then you will be able to download the release as a `.tar.gz` without needing to use git.

[2020-12-04 15:17] kgerheiser opened #57 "Install to CMAKE_INSTALL_DIRs"

[2020-12-04 15:17] kgerheiser opened #58 "Install to CMAKE_INSTALL_DIRs"

[2020-12-04 15:18] #57 closed, assigned to nobody

[2020-12-04 15:23] #58 closed, assigned to kgerheiser

[2020-12-10 22:40] DusanJovic-NOAA opened #61 "cloning this repo returns an error"
My script fails while cloning this repo:
[code]
If `CMakeModules` submodule is not needed anymore please remove it. And remove `.gitmodules`.

[2021-01-05 18:14] edwardhartnett commented on #46
What is the progress here? Do we have a test yet?

[2021-01-05 18:29] BoiVuong-NOAA commented on #46
Last updated from Hang, He is still working on gblevents routine. I am working on testing for routines in w3nco.

[2021-01-06 14:32] edwardhartnett commented on #46
@BoiVuong-NOAA w3nco is being retired, and all code from there has been moved to w3emc. So that's where you should be writing tests, right?

[2021-01-06 14:37] BoiVuong-NOAA commented on #46
Yes, The w3nco combined into w3emc.  There will be one unit_test for w3nco and one is for w3emc.

[2021-01-29 13:00] edwardhartnett commented on #46
OK, it has been three months since this issue was opened, and there has been no apparent progress so far.

Let's discuss what changes can be made to enable some progress on testing this repo.

[2021-01-29 13:30] BoiVuong-NOAA commented on #46
Works are in-progress to test number of routines in W3EMC.

[2021-01-29 14:10] edwardhartnett commented on #46
@BoiVuong-NOAA and @Hang-Lei-NOAA, tests need to be developed incrementally. If you have even one test working, please put it up as a PR.

[2021-01-29 14:19] BoiVuong-NOAA commented on #46
OK, I will.  I am still working on a program which it tests about 9 routines in W3EMC and W3NCO.

[2021-01-29 14:26] Hang-Lei-NOAA commented on #46
I will push a PR to change the code and upload my testing data for
gblevents.

On Fri, Jan 29, 2021 at 9:19 AM Boi Vuong <notifications@github.com> wrote:

[2021-02-01 16:59] edwardhartnett commented on #46
Seems like Boi will not be able to complete this work due to some other task. I have taken him off this issue.

[2021-02-01 17:26] Hang-Lei-NOAA commented on #46
I will upload my test once my Hera soft token issue is resolved. Everything
is kept on Hera.

On Mon, Feb 1, 2021 at 11:59 AM Edward Hartnett <notifications@github.com>
wrote:

[2021-03-17 20:53] DusanJovic-NOAA commented on #61
Any chance of fixing this issue anytime soon?

[2021-03-17 21:15] #61 closed, assigned to edwardhartnett

[2021-04-30 18:06] edwardhartnett opened #66 "cmake build needs to check dependent versions"
THe cmake build needs to specify the versions it needs.

[2021-05-21 15:17] edwardhartnett opened #67 "Release version 2.8.0"
Can we do a release? This now contains the code from w3nco and we need a release with that code.

@kgerheiser any objects if I release?

[2021-05-21 15:18] kgerheiser commented on #67
No

[2021-05-21 15:24] edwardhartnett commented on #35
More improvement possible, but at least the first draft is up there on the web.

[2021-05-21 15:24] #35 closed, assigned to nobody

[2021-05-21 16:41] #66 closed, assigned to nobody

[2021-05-21 16:46] edwardhartnett opened #69 "gfortran errors - Hexadecimal constant at (1) uses nonstandard X instead of Z"
[code]

[2021-05-21 16:46] edwardhartnett commented on #69
@kgerheiser I'm inclined to just fix these - any objection?

[2021-05-21 16:53] kgerheiser commented on #69
No, it's an easy fix.

[2021-05-21 16:59] #69 closed, assigned to edwardhartnett

[2021-05-21 17:01] #67 closed, assigned to edwardhartnett

[2021-05-21 18:55] kgerheiser opened #71 "What to do with gblevents?"
This routine causes a circular dependency with nemsio, and it also uses NetCDF, sigio, sp, and bufr. Without this w3emc would be dependency free. It definitely stands out among the other routines in this library.

Does it belong in the w3emc repo? Is there a more appropriate place to put it?

@Hang-Lei-NOAA @BoiVuong-NOAA

[2021-05-21 19:22] Hang-Lei-NOAA commented on #71
This has been discussed before many times. It has to be there. obspro group
don't want to keep it, and it is the core part of GFS prep.

On Fri, May 21, 2021 at 2:55 PM Kyle Gerheiser ***@***.***>
wrote:

[2021-05-21 19:24] edwardhartnett commented on #71
Well we have to resolve the circular dependency somehow...

[2021-05-21 19:26] kgerheiser commented on #71
We shouldn't have circular dependencies. We can maintain the code, but does it _have_ to be in this repo? It doesn't seem like belongs here.

[2021-05-21 19:32] edwardhartnett commented on #71
What is we combined nemsio with w3emc. Then everything would be in one place.

[2021-05-21 19:37] Hang-Lei-NOAA commented on #71
No a good solution.
One is IO interface.
The other is utility package.
Someone used to suggested combined all libraries into one called NCEPbuild.
This was denied.

On Fri, May 21, 2021 at 3:32 PM Edward Hartnett ***@***.***>
wrote:

[2021-05-21 19:38] kgerheiser commented on #71
That doesn't seem right to me. Nemsio is a self-contained utility in its own library, while this repo is an amalgamation of a bunch of miscellaneous routines.

I know it's not ideal, but I think the most straight-forward solution is to put gblevents into its own repo. With that w3emc would lose its NetCDF, Nemsio, Sigio, sp, and bufr dependencies.

[2021-05-21 19:40] edwardhartnett commented on #71
OK let's ponder that over the weekend but perhaps its the only way forward. That would not be great - we are trying to reduce the number of libraries...

[2021-05-21 19:45] Hang-Lei-NOAA commented on #71
Kyle's suggestion is the way that we try to do many times.
Mark try to so do long time ago.
I try to send the gblevent.f to obspro group in 2015. (When dennis.keyser
was the team lead)
Finally, they all refused to do so, for they cannot handle it.
Now, many people leave, new people in. They will say they cannot handle it.

On Fri, May 21, 2021 at 3:38 PM Kyle Gerheiser ***@***.***>
wrote:

[2021-05-21 19:47] kgerheiser commented on #71
What is there to handle? You load a module called `gblevents` which sets whatever they variables need in their build system and you're done.

[2021-05-21 19:48] aerorahul commented on #71
my 2 cents, move it to ufs_utils or in one of the ObsProc utilities (not NCEPLIBS-bufr).

[2021-05-21 19:50] kgerheiser commented on #71
What are ObsProc utilities?

[2021-05-21 19:52] aerorahul commented on #71
can't show you right now, but they are here:
https://vlab.noaa.gov/ ... ObsProc_global
vlab is migrating to the cloud.  I'll update the link here when it is back.

[2021-05-21 19:52] Hang-Lei-NOAA commented on #71
The ideal place is the obspro prep. This code is the core part of prep. The
rest of prep just read in, regression and read out datas.
It needs some enforce order to make it.

On Fri, May 21, 2021 at 3:49 PM Rahul Mahajan ***@***.***>
wrote:

[2021-05-21 19:54] kgerheiser commented on #71
That does seem to be a better solution if we can do that.

[2021-06-04 16:22] edwardhartnett commented on #71
This will be moved to UFS_UTILS. Then we need a new release.

[2021-06-04 16:23] edwardhartnett opened #73 "Do a 2.9.0 release"
Once #71 is resolved, we need a new release.

[2021-06-16 15:33] edwardhartnett commented on #71
@kgerheiser and @Hang-Lei-NOAA has this been move to UFS_UTILS yet?

[2021-06-16 15:34] kgerheiser commented on #71
Waiting for final approval by @GeorgeGayno-NOAA

https://github.com/NOAA-EMC/UFS_UTILS/pull/536

[2021-06-16 15:39] Hang-Lei-NOAA commented on #71
We did not have a simple unit test available at this time.

On Wed, Jun 16, 2021 at 11:35 AM Kyle Gerheiser ***@***.***>
wrote:

[2021-06-16 15:44] edwardhartnett commented on #71
We don't need to wait for unit tests. We have none for this code now, and we are not likely to get any soon. ;-)

[2021-06-25 13:55] edwardhartnett commented on #71
gblevents has been moved to UFS_UTILS, and a new release done.

Has it been removed from this repo?

[2021-06-25 14:29] Hang-Lei-NOAA commented on #71
Yes, it's done.

On Fri, Jun 25, 2021 at 9:56 AM Edward Hartnett ***@***.***>
wrote:

[2021-06-25 15:05] edwardhartnett commented on #71
So can we close this issue?

And then we need to do a release...

[2021-06-27 20:46] edwardhartnett commented on #73
Can we do this release?

[2021-06-29 14:07] kgerheiser commented on #73
Done

[2021-06-29 14:07] #73 closed, assigned to kgerheiser

[2021-06-29 14:07] kgerheiser commented on #71
Done

[2021-06-29 14:07] #71 closed, assigned to kgerheiser

[2021-06-30 13:52] edwardhartnett commented on #73
@arunchawla-NOAA you asked to be notified when this release was done. It is complete...

[2021-06-30 13:54] edwardhartnett opened #76 "Update README to reflect new dependencies"
The README must be updated to reflect the new dependencies of this package, now that gblevents has been removed.

[2021-06-30 14:14] edwardhartnett commented on #46
Any progress on testing this repo?

[2021-06-30 14:16] edwardhartnett opened #77 "Upgrade doxygen documentation, turn on WARN_AS_ERROR and resolve warnings."
THe doxygen documentation of this repo needs work.

We need to add doxygen builds to the CI and turn on doxygen warnings.

Then we need to get doxygen building warning-free.

[2021-06-30 14:19] edwardhartnett commented on #77
Actually we are already building docs in CI. Are there warnings? I don't see them. Perhaps we need to mess with the doxyfile settings...

[2021-06-30 14:20] edwardhartnett opened #78 "Fix fortran warnings"
There are many warnings in the fortran code.

We want to build without warnings.

[2021-06-30 14:21] Hang-Lei-NOAA commented on #46
This combined code was tested fine in working with UFS model. It reproduces
the capability of separated w3emc and w3nco libs. On this level, it could
be pushed to use for community.

But, the Unit test, as previously Boi said in leading the development, is
involved with testing hundreds of functions/subroutines. It’s not a small
test packages to develop.

On Wed, Jun 30, 2021 at 10:14 AM Edward Ha

[2021-06-30 14:24] edwardhartnett commented on #46
We need to pick something and start writing unit tests. Start with the smallest you can think of. It does not have to use Boi's tests if we can do something easier.

Does this package write and also read grib files? If so, how about a test which first writes, then reads, a simple grib file?

If this package only reads grib files, then how about finding a small sample file, and writing a test to en

[2021-06-30 15:54] Hang-Lei-NOAA commented on #78
Will fix it.

On Wed, Jun 30, 2021 at 10:20 AM Edward Hartnett ***@***.***>
wrote:

[2021-06-30 16:00] Hang-Lei-NOAA commented on #46
This is not single function library. It is actually a combinations pool for
all kinds of small supporting utility codes. These codes are mostly used
together with other libraries or functions. I will start a unit test for
testing some common used supporting codes.

On Wed, Jun 30, 2021 at 10:24 AM Edward Hartnett ***@***.***>
wrote:

[2021-07-01 06:38] edwardhartnett commented on #78
Don't fix the warings without first writing tests for the affected code. Code must not be changed without testing.

[2021-07-02 06:02] edwardhartnett opened #80 "Fix doxygen documentation for getgbens()"
As we see here:
https://noaa-emc.github.io/NCEPLIBS-w3emc/getgbens_8f.html

the documentation for getgbens() needs work.

* must be lower-cased
* parameters are missing documentation
* large block of text contains elements that would be best formatted as lists or tables

@Hang-Lei-NOAA this would be a good place to start.

THis is part of #77.

[2021-07-02 11:16] Hang-Lei-NOAA commented on #80
thanks Edward！

On Fri, Jul 2, 2021 at 2:03 AM Edward Hartnett ***@***.***>
wrote:

[2021-07-02 14:46] edwardhartnett opened #81 "Update doxyfile for version of doxygen used by CI, turn on some settings..."
The doxyfile is generated by cmake from docs/doxyfile.in. Variables in doxyfile.in like @VERSION@ are replaced with the appropriate values by cmake.

We need to:
* learn the version of doxygen used by GitHub CI.
* get on a machine with that exact version of doxygen (or install that version).
* cd docs and run doxygen -u Doxyfile.in to update the Doxyfile.in file. This will add some settings and co

[2021-07-02 14:48] edwardhartnett opened #82 "fix doxygen for getgbeh.f"
Doxygen for getgbeh.f needs to be updated.

Part of #77

[2021-07-02 15:22] kgerheiser commented on #81
Why does the Doxygen version matter, or rather why does it have to be the same version?

[2021-07-02 15:45] edwardhartnett commented on #77
There are ~200 files in the src directory. If each takes about 40 minutes of effort, that's a total of ~133 hours of effort.

A reasonable approach would be to spend about 2 hours a day on doxygen, in which case the whole repo should have good documentation in about 67 days of effort.

So it seems like this should be done by the end of September ...

[2021-07-02 15:46] edwardhartnett commented on #77
There are ~200 files in the src directory. If each takes about 40 minutes of effort, that's a total of ~133 hours of effort.

A reasonable approach would be to spend about 2 hours a day on doxygen, in which case the whole repo should have good documentation in about 67 days of effort.

So it seems like this should be done by the end of September ...

[2021-07-02 16:03] edwardhartnett commented on #77
There are ~200 files in the src directory. If each takes about 40 minutes of effort, that's a total of ~133 hours of effort.

A reasonable approach would be to spend about 2 hours a day on doxygen, in which case the whole repo should have good documentation in about 67 days of effort.

So it seems like this should be done by the end of September ...

[2021-07-03 16:42] #82 closed, assigned to edwardhartnett

[2021-07-05 03:20] edwardhartnett commented on #76
Does this package have no dependencies at all now?

[2021-07-06 13:14] kgerheiser commented on #76
With the removal of gblevents there are no dependencies

[2021-07-06 14:14] #76 closed, assigned to kgerheiser

[2021-07-20 14:54] edwardhartnett commented on #77
@Hang-Lei-NOAA, we are going to get some help from @BrianCurtis-NOAA on doxygenating this repo. You can continue with g2; when that is complete, you can jump in here on w3emc, but will have to coordinate with Brian so you are not each doing the same file at the same time.

Meanwhile, Brian will get started here and list you and me as reviewers.

[2021-07-20 14:54] edwardhartnett opened #85 "fix doxygen in aea.f"
Fix the doxygen in aea.f. Some notes:

* Lower-case the text SO THE DOCUMENTATION IS NOT SHOUTING! (Not sure what editor you use, but find a way to do this without retyping it. For example, emacs has a function lowercase-region. Other editors should also be able to do this.)
* Ensure proper capitalization and punctuation of sentences.
* Every file needs a block of doxygen at the top.
* Every funct

[2021-07-20 14:57] Hang-Lei-NOAA commented on #77
Okay, I have been doing some long documentation files, But will accelerate
now in the short files. Try to finish G2 in this week.

On Tue, Jul 20, 2021 at 10:54 AM Edward Hartnett ***@***.***>
wrote:

[2021-07-20 14:59] edwardhartnett commented on #77
OK, meanwhile @BrianCurtis-NOAA will start on w3emc and @kgerheiser will start on ip. Soon we will all have good documenation and we'll each move on to testing...

[2021-07-21 17:00] #85 closed, assigned to BrianCurtis-NOAA

[2021-07-29 17:00] edwardhartnett commented on #77
@BrianCurtis-NOAA do we have more doxygenated files for this repo coming soon?

[2021-07-29 17:22] BrianCurtis-NOAA commented on #77
@edwardhartnett Yes, sir.

[2021-08-06 16:59] kgerheiser opened #96 "Add GCC-9, GCC-10, debug, doc, Intel, and test coverage build."
More variations should be tested in Github Actions.

[2021-08-10 12:56] Hang-Lei-NOAA opened #99 "NCO reported wgrib2 in MPMD-style parallel issue"
Diane Stokes from NCO reported following:
A couple of users have reported trouble running wgrib2 in MPMD-style parallel scripting on Acorn.   suspect a conflict with the mpi build of wgrib2 and parallel processing of the scripts that call it.  Scott Scallion of MDL suspects the same.  He reports:

I am running into an issue submitting an mpmd job of 4 tasks.  I get the following errors:

[PE_0]:_p

[2021-08-10 13:02] Hang-Lei-NOAA commented on #99
Following Wesleys' suggestions, that this would be a issue of using serial netcdf and parallel netcdf in builds.
We put 7 combinations of different serial netcdf and different iploates builds from NCEPLIBS-w3emc repo for users to locate the problem.

module use /lfs/h1/emc/nceplibs/noscrub/Hang.Lei/library/NCEPLIBS-wgrib2/modulefiles
module avail

--------------------------------------------------

[2021-08-10 13:03] Hang-Lei-NOAA commented on #99
Guang's tests shows that non of this solved the MDMP issue. Therefore, we need to explore new approach to locate the issue.

[2021-08-10 13:07] Hang-Lei-NOAA commented on #99
Pass it to Kyle for using Wesley's original wgrib2 package.

[2021-08-10 13:39] kgerheiser commented on #99
Wrong repo

[2021-08-10 13:50] #99 closed, assigned to kgerheiser

[2021-08-26 16:28] #96 closed, assigned to kgerheiser

[2021-09-20 16:58] edwardhartnett opened #113 "Problem with w3emc package info file causing nemsio cmake problems?"
In the nemsio project I am trying to change to check the version number of the w3emc library. In the nemsio CMakeLists.txt file I change this:

`find_package(w3emc REQUIRED)
`
to

`find_package(w3emc REQUIRED 2.9.0)`

This causes the nemsio build to fail with this message:

[code]

When I rerun like this, I see more of what is going on:

` cmake --trace-source=/usr/local/NCEPLIBS-w3emc-2.9.0/lib/c

[2021-09-20 17:05] kgerheiser opened #114 "w3tagb.f and w3tage.f missing after merge of w3nco"
w3emc and w3nco were combined, but I tried building grib_util with develop, but get an undefined symbols for w3tagb and w3tage.

[2021-09-20 17:26] kgerheiser commented on #113
Worked for me.

I built the develop of w3emc (version 2.9.0) and modified nemsio's build with `find_package(w3emc 2.9.0 REQUIRED)` along with changing all the library linking from `w3nco::w3nco` to `w3emc::w3emc`.

[2021-09-20 17:34] kgerheiser commented on #113
Oh, you have the order wrong. The number goes before `REQUIRED`.

`find_package(w3emc 2.9.0 REQUIRED)`

[2021-10-05 20:22] kgerheiser opened #121 "Create a v2.9.1 release"
Serial version of w3emc (without gblevents) is needed for WCOSS2.

[2021-10-05 20:26] #114 closed, assigned to nobody

[2021-10-06 14:26] kgerheiser commented on #52
Fixed with #120 which brought in `summary.c` from w3nco which is not empty.

[2021-10-06 14:26] #52 closed, assigned to nobody

[2021-10-06 14:29] kgerheiser commented on #39
Also fixed with #120 where `start.F` is contained as a subroutine within `summary.c.

[2021-10-06 14:29] #39 closed, assigned to nobody

[2021-10-06 14:30] #113 closed, assigned to kgerheiser, edwardhartnett

[2021-10-21 20:58] #121 closed, assigned to kgerheiser

[2021-10-21 20:58] kgerheiser opened #128 "w3emc depends on bacio"
See: https://github.com/NOAA-EMC/NCEPLIBS-w3emc/blob/7b9bd836185e5e489382e5c677ff940c9de9aea1/src/getgi.f#L70

There should be a find_package and find_dependency for bacio

[2021-10-22 13:07] #128 closed, assigned to nobody

[2021-10-22 13:14] kgerheiser opened #130 "Make 2.9.2 release"
Need a release for #129 so it can be installed on WCOSS2

[2021-10-22 14:16] edwardhartnett opened #132 "update readme with bacio dependency"
update readme with bacio dependency

[2021-10-22 14:17] #130 closed, assigned to nobody

[2021-10-22 14:49] #132 closed, assigned to edwardhartnett

[2021-11-15 23:34] michalakes opened #135 "Error compiling under CCE (Cray compiler)"
This bug report is relative to hash 8bb34eb3ee0 though it appears to have been an issue for some time previous.

Cray compiler reports an issue with argument number mismatch in the call to FI8503 at line 2094 of w3fi85.f (see screenshot, below).  Subroutine is defined with 9 arguments but the call at line 2094 has only 8 arguments.

Here is the error message:

ftn-1295 crayftn: ERROR FI8509, File

[2021-11-15 23:40] kgerheiser commented on #135
I wonder if that's a typo? All other uses of that subroutine pass `kary(11)` as the first argument.

[2021-11-15 23:48] michalakes commented on #135
Thanks, I'll use that as a workaround for time being.  Probably needs to be updated in the repo. (Intel compiler is too forgiving sometimes.  Cray is more pedantic.)

[2022-01-03 15:05] edwardhartnett opened #136 "release version 2.9.3"
@kgerheiser did you do a release of w3emc after combining the w3nco functions?

If not, we need to do one...

Since this involves big changes, perhaps we should call the next release 3.0.0?

[2022-01-03 15:09] kgerheiser commented on #136
The 2.8.0 release already contains the w3nco functions.

[2022-01-03 15:17] edwardhartnett commented on #136
OK, awesome. I didn't look that far back in the release notes... ;-)

[2022-01-03 15:23] edwardhartnett opened #137 "were all functions from w3nco moved into w3emc?"
Switching NCEPLIBS-grib_util to use w3emc, I get this build error:

[code]

[2022-01-03 15:24] kgerheiser commented on #137
This was fixed in develop.

https://github.com/NOAA-EMC/NCEPLIBS-w3emc/issues/114

[2022-01-03 15:29] edwardhartnett commented on #114
OK, so it does look like we need a new release with these changes, so I can modify grib_util to use w3emc (see https://github.com/NOAA-EMC/NCEPLIBS-grib_util/issues/59)

[2022-01-03 15:30] edwardhartnett commented on #136
Looks like we need a new release due to https://github.com/NOAA-EMC/NCEPLIBS-w3emc/issues/137

[2022-01-03 15:44] kgerheiser commented on #136
Looks like the commit is in release 2.9.2

[2022-01-04 12:23] edwardhartnett opened #138 "adjust build system to handle rename of bacio library with 2.5.0"
The name of the bacio library changes in the 2.5.0 release. This must be handled...

[2022-01-04 14:02] edwardhartnett commented on #138
Actually this was already done.

What confused me was that all packages have to agree on bacio or bacio_4.

If I build w3emc with bacio-2.4.1 (which has bacio_4) and then build grib_util with bacio-2.5.0 (which has bacio), then the build of grib_utils will fail. It will try to find bacio_4 due to information in the w3emc install. We must take care to always build with the same bacio...

[2022-01-04 14:02] #138 closed, assigned to edwardhartnett

[2022-01-11 22:16] kgerheiser opened #139 "Move makgds from ip to w3emc"
makgds.f90 was in NCEPLIBS-ip, but w3emc is a much better home for it:

* makgds uses calls w3emc functions
* ip does not use makgds internally
* ip would have a dependence on w3emc

[2022-01-11 22:40] kgerheiser opened #141 "Remove fixed format compiler flags"
Related to #139 where I try to bring in the free format `makgds.f90`.

We use `-fixed` and `-fixed-form` compiler flags for Intel and GNU respectively, but this means that free format code can't be added to the build because it will interpret them as fixed format.

Instead, let the compiler decide based on the file suffix. Files ending with `.f` are fixed format, and `.f90` is free-format. The fil

[2022-01-12 14:26] #139 closed, assigned to kgerheiser

[2022-01-12 14:26] #141 closed, assigned to kgerheiser

[2022-01-12 18:56] BrianCurtis-NOAA commented on #77
WARN_AS_ERROR is set to YES in the doxyfile, and the doxygen is done. This can be closed.

[2022-01-12 18:56] #77 closed, assigned to BrianCurtis-NOAA

[2022-01-13 11:40] edwardhartnett commented on #77
Great work! Having done this for several other NCEPLIBS repos - I know how hard it can be! ;-)

[2022-03-24 15:37] natalie-perlin opened #142 "Legacy syntax for MAX0, MIN0 generates compiler error with GNU 11.1.0"
Legacy syntax in ./src/w3ai00.f that uses MAX0 and MIN0 instead of MAX, MIN causes compiler error with the GNU gfortran 11.1.0. The line is

./src/w3ai00.f:168:           N = MAX0(-127_8,MIN0(127_8,N))

This could be overcome by passing additional flags during the compilation, such as -fdefault-integer-8 -fdefault-real-8, but these flags need to be tailored properly for the builds in different dir

[2022-03-24 15:39] kgerheiser commented on #142
Could this be fixed by using `max`/`min` instead of `max0`/`min0`? Because we do set `-fdefault-real-8`/`-fdefault-integer-8`.

[2022-03-24 15:47] kgerheiser commented on #142
Transferred this issue to w3emc because the libraries have been combined, and this repo now contains the former w3nco code.

[2022-03-30 19:30] GlennCreighton commented on #135
Hi, I just ran into the same issue, FYSA, I also deduced it needed kary(11), but wanted to note it here so it could be added to your next release.

[2022-03-30 20:30] kgerheiser commented on #135
This is some ugly code. `kary(11)` seems like the correct value, but I don't really know what it does. There are 3 other instances of the exact some code copy/pasted which contains `kary(11)`.

Put in a PR with #143

[2022-03-30 20:33] kgerheiser commented on #135
@GlennCreighton are you also using Cray compilers?

[2022-03-30 20:34] GlennCreighton commented on #135
So, pretty safe bet it is the appropriate value.  It compiles anyway!  Thanks.
    On Wednesday, March 30, 2022, 03:30:29 PM CDT, Kyle Gerheiser ***@***.***> wrote:

This is some ugly code. kary(11) seems like the correct value, but I don't really know what it does. There are 3 other instances of the exact some code copy/pasted which contains kary(11).

—
Reply to this email directly, view it on G

[2022-03-30 20:44] GlennCreighton commented on #135
Yes, should I feed back the required changes?  There's not many for this baseline.
I have six other baselines I'm adding Cray support to if that would be helpful to others (ip, sp, bacio, w3emc, w3nco, grib_util).  I'm still working on ip and grib_util as I'm getting undefined references to ipolate routines when compiling copygb and copygb2 right now, but the rest of it compiles.
    On Wednesday,

[2022-03-30 20:47] kgerheiser commented on #135
If you've got changes that add support for Cray compilers then sure.

A hint for building grib_util may be using ip v3.3.3 (instead of develop, v4.0.0). There are some breaking changes in the new version of ip that aren't compatible with the current version of grib_util.

[2022-03-30 20:52] GlennCreighton commented on #135
Hey, thank you for that.
    On Wednesday, March 30, 2022, 03:48:17 PM CDT, Kyle Gerheiser ***@***.***> wrote:

If you've got changes that add support for Cray compilers then sure.

A hint for building grib_util may be using ip v3.3.3 (instead of develop, v4.0.0). There are some breaking changes in the new version of ip that aren't compatible with the current version of grib_util.

—
Reply to this

[2022-03-30 21:17] GlennCreighton commented on #135
Great, that worked, I'm creating local patches and would like to use the most up-to-date versions available, is there a ticket describing the issue with ip 4.0.0?  I saw some issues during compile with abs being used instead of fabs that I did not see during compile of 3.3.3.  In any case, thanks for the pro tip, that one's been bugging me.

[2022-04-04 22:52] edwardhartnett opened #144 "Code warning for summary.c"
[code]

[2022-04-04 22:56] edwardhartnett commented on #37
OK, no more bumping this to the next release.

[2022-04-04 23:00] kgerheiser commented on #37
~~This is going to be a huge task given the quality of the code.~~

Thought this was #78 and meant to put that comment in there, but it still applies.

[2022-04-04 23:08] edwardhartnett commented on #37
I keep hearing that GRIB1 will go away, but I'm starting to wonder if it will. Right now it's "only" used for the aviation forecast.

Well, that seems like a pretty important application. I'm no atmospheric scientist, but I'm pretty sure that weather forecasts are pretty important to the tens of thousands of people in the air every day.

Let's start by adding tests to all code touched in any PR. T

[2022-04-04 23:28] #137 closed, assigned to kgerheiser, edwardhartnett

[2022-05-20 15:57] fipoucat opened #145 "question libw3emc"
I am building a program that needs libw3emc_i4r8 while my compilation gives me libw3emc_4.a. What the difference and if so how to get:  and libw3emc_i4r8.

Thank you

[2022-05-20 16:25] kgerheiser commented on #145
`libw3emc_d.a` is what you want. It provides a real64, int32 interface.

`_4` is real32, int32.

`_8` is real64, int64.

[2022-05-20 17:08] fipoucat commented on #145
You are right I have libw3emc_d.a and libw3nco_d.a

and beow the error message I am having:
gfortran -I../../libs/mods/g2  tave.f -L../../libs -lw3emc_i4r8
-lw3nco_i4r8 -lbacio -lg2 -L/home/parallels/MET111/external_libs/lib
-ljasper -lz -lpng -o ../../trk_exec/tave.exe
/usr/bin/ld: cannot find -lw3emc_i4r8
/usr/bin/ld: cannot find -lw3nco_i4r8
collect2: error: ld returned 1 exit status
make[2]: [

[2022-05-20 17:10] kgerheiser commented on #145
Sure, that'll work. Or replace `-lw3emc_i4r8`with `-lw3emc_d`.

[2022-05-20 17:40] fipoucat commented on #145
OK, thank you

On Fri, May 20, 2022 at 5:10 PM Kyle Gerheiser ***@***.***>
wrote:

[2022-05-20 17:40] #145 closed, assigned to nobody

[2022-06-01 13:19] #135 closed, assigned to nobody

[2022-07-22 21:00] aerorahul opened #146 "lib needs to be corrected to `CMAKE_INSTALL_LIBDIR`"
https://github.com/NOAA-EMC/NCEPLIBS-w3emc/blob/264565a9b85288fd55ed262ddfb7d6c3d9732ef0/src/CMakeLists.txt#L55

On x64, the library is installed in `lib64` while the cmake config file is in `lib`.

Note.
Its likely this is happening in other nceplibs as well.

[2022-11-29 17:12] edwardhartnett commented on #136
I thought I needed this release to solve a problem on g2, but I was wrong.

However, there are some important changes and this should be released soon. See the release notes for details.

[2022-11-30 13:46] edwardhartnett opened #148 "Improve CI system"
- Create a developer build which does FTP testing, address santizer, doxygen build, warning check, code coverage, and Debug build. Turn these settings off in all other builds. Use develop branch of all required NCEPLIBS libraries and the latest version of jasper.
- Create a linux_versions workflow that checks with different versions of dependencies.
- Create a linux_settings workflow that tests di

[2022-11-30 14:04] edwardhartnett opened #149 "address santizer errors in build"
[code]

[2022-11-30 14:13] edwardhartnett opened #150 "accommodate old versions of the documentation"
As we do in other projects, keep the old versions of the documentation around.

[2022-11-30 14:25] edwardhartnett opened #151 "delete master branch and master branch protection rules"
On this as all other repos, we have moved to using the develop branch.

Master branch can be deleted.

[2022-11-30 15:01] #81 closed, assigned to Hang-Lei-NOAA

[2022-11-30 15:01] #149 closed, assigned to edwardhartnett

[2022-11-30 15:04] edwardhartnett commented on #151
Done.

[2022-11-30 15:04] #151 closed, assigned to edwardhartnett

[2022-11-30 15:05] edwardhartnett commented on #150
Done.

[2022-11-30 15:05] #150 closed, assigned to edwardhartnett

[2022-11-30 15:06] edwardhartnett commented on #146
@aerorahul what should be done about this? Sorry, I'm not the CMake expert that Kyle was...

[2022-11-30 15:06] edwardhartnett commented on #136
Released.

[2022-11-30 15:06] #136 closed, assigned to edwardhartnett

[2022-11-30 15:07] edwardhartnett commented on #142
@natalie-perlin unfortunately Kyle is no longer working at the EMC.

Do you think his proposed solution would work?

[2022-11-30 15:14] aerorahul commented on #146
The above line should be replaced with:
[code]
i.e. `lib` should be replaced with `${CMAKE_INSTALL_LIBDIR}`

[2022-11-30 15:45] #146 closed, assigned to edwardhartnett, Hang-Lei-NOAA

[2022-11-30 15:53] edwardhartnett commented on #138
This was actually done by Kyle in the 2.9.2 release.

[2022-11-30 18:18] AlexanderRichert-NOAA commented on #146
@edwardhartnett @aerorahul I'm just getting caught up on this. To be clear, is the goal to have the cmake config land in the same directory as the library? In the case of bacio, the static library destination is being set in src/CMakeLists.txt in the "ARCHIVE DESTINATION lib" line, so using CMAKE_INSTALL_DIR will not guarantee that the cmake files end up in the same directory.

[2022-11-30 18:36] edwardhartnett commented on #146
Let's talk about bacio under the bacio project. ;-)